<<<<<<< HEAD
#siteName,
.searchBox {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
=======
* {
    transition: all 1s ease-in-out;
}

#siteName, .searchBox {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  padding-bottom: 12px;
  padding-top: 8px;
}

.inputText {
  height: 50px;
  width: 300px;
  font-size: 24px;
>>>>>>> 851d3b5b6a50eef51c4be1e46a7860774dae2049
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #722e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}

<<<<<<< HEAD
.topNav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 3px solid black;
  width: 25%;
=======
h1 {
  color: #eff0d8;
  text-align: center;
  font-size: 3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 200;
  margin-bottom: 4px;
>>>>>>> 851d3b5b6a50eef51c4be1e46a7860774dae2049
}

.slider {
  width: 110px;
  height: 50px;
  background: #eff0d8;
  position: relative;
  border-radius: 50px;
  padding: 0px 10px;
  margin-top: 12px;
}

.ball {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #e73b3b;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  margin-left: 3px;
  transition: all 0.7s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  left: 0;
  cursor: pointer;
  z-index: 2;
}

.right {
  left: 79px;
  background: rgb(44, 99, 167);
}

.eatIn {
  color: #e73b3b;
}

.eatOut {
  color:  rgb(44, 99, 167);
}

.active {
  transition: all 0.6s ease-in-out;
  font-size: 1.5em;
  font-weight: bold;
}

.blue {
  background:  rgb(4, 23, 57);
}

<<<<<<< HEAD
.theSlider.itsRound:before {
  border-radius: 50%;
} */
*/ .theSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
=======

.topNav a:hover {
  background-color: #ddd;
  color: black;
}

.topNav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 3px solid black;
  width: 25%;
>>>>>>> 851d3b5b6a50eef51c4be1e46a7860774dae2049
}

.topNav .search-container {
  height: 50px;
  width: 50px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: red;
  font-size: 25px;
  border: 3px solid black;
  cursor: pointer;
<<<<<<< HEAD
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.theSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .theSlider {
  background-color: #2196f3;
}

input:focus + .theSlider {
  box-shadow: 0 0 1px #2196f3;
=======
>>>>>>> 851d3b5b6a50eef51c4be1e46a7860774dae2049
}

.button {
  height: 50px;
  width: 50px;
  padding: -2px -6px;
  margin-top: px;
  margin-right: 16px;
  background: rgb(191, 187, 187);
  border: 3px solid black;
  cursor: pointer;
}

.button:hover {
  background: red;
  cursor: pointer;
}

<<<<<<< HEAD
.theSlider.itsRound:before {
  border-radius: 50%;
}

/* IDs and Classes for Eat In Content */
#map {
  height: 100vh;
}

#eatInHeader {
  height: 15vh;
  border-bottom: solid;
}

#inputRecipe {
  margin: 0px 15%;
}

#listResultBox {
  border: solid;
}

.noBotMargin {
  margin-bottom: 0px;
}
=======
@media screen and (max-width: 600px) {
  .topNav .search-container {
    float: none;
  }
}
>>>>>>> 851d3b5b6a50eef51c4be1e46a7860774dae2049
