* {
    transition: all 1s ease-in-out;
}

#siteName, .searchBox {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  padding-bottom: 12px;
  padding-top: 8px;
}

.inputText {
  height: 50px;
  width: 300px;
  font-size: 24px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #722e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}

h1 {
  color: #eff0d8;
  text-align: center;
  font-size: 3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 200;
  margin-bottom: 4px;
}

.slider {
  width: 110px;
  height: 50px;
  background: #eff0d8;
  position: relative;
  border-radius: 50px;
  padding: 0px 10px;
  margin-top: 12px;
}

.ball {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #e73b3b;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  margin-left: 3px;
  transition: all 0.7s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  left: 0;
  cursor: pointer;
  z-index: 2;
}

.right {
  left: 79px;
  background: rgb(44, 99, 167);
}

.eatIn {
  color: #e73b3b;
}

.eatOut {
  color:  rgb(44, 99, 167);
}

.active {
  transition: all 0.6s ease-in-out;
  font-size: 1.5em;
  font-weight: bold;
}

.blue {
  background:  rgb(4, 23, 57);
}


.topNav a:hover {
  background-color: #ddd;
  color: black;
}

.topNav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 3px solid black;
  width: 25%;
}

.topNav .search-container {
  height: 50px;
  width: 50px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: red;
  font-size: 25px;
  border: 3px solid black;
  cursor: pointer;
}

.button {
  height: 50px;
  width: 50px;
  padding: -2px -6px;
  margin-top: px;
  margin-right: 16px;
  background: rgb(191, 187, 187);
  border: 3px solid black;
  cursor: pointer;
}

.button:hover {
  background: red;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .topNav .search-container {
    float: none;
  }
}